
.glyphicon{
  background-color: white ;
  color: black;
  border: none;
}

/* The Modal (background) */
.modal-sm {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 50%;
  left: 30%;
  /*margin-left: 5%;*/
  /*margin-right: 0%;*/
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}


.modal-content {
  background-color: #fefefe;
  margin:15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 300px;
  border: 1px solid #888;
  /* Could be more or less, depending on screen size */
}
